<div class="auth__links">
  <a href="{{ route('signup') }}">Sign Up</a>
  <a href="{{ route('login') }}">Login</a>
  <a href="{{ route('forgot') }}">Forgot Password</a>
  <a href="{{ route('resend') }}">Resend Confirmation</a>
</div>
