<div class="auth__links social-links">
  <a href="{{ route('auth.social.redirect', { provider: 'facebook' }) }}" class="facebook-link">Login with Facebook</a>
  <a href="{{ route('auth.social.redirect', { provider: 'google' }) }}" class="google-link">Login with Google+</a>
</div>
