Welcome to Landicon, a better place for web icons!
In order to finish account activation, please confirm your email following the link:
<a href="{{ host() }}{{ route('confirm', { token: token }) }}">Confirm email</a>
